<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Squiza</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error_404.jsp</location>
  </error-page>
  
  <servlet>
    <display-name>ProcessPremiumPlanServlet</display-name>
    <servlet-name>ProcessPremiumPlanServlet</servlet-name>
    <servlet-class>Membership.ProcessPremiumPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPremiumPlanServlet</servlet-name>
    <url-pattern>/ProcessPremiumPlanServlet</url-pattern>
    <url-pattern>/ProcessPremium</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>ProcessPremiumQuizServlet</display-name>
    <servlet-name>ProcessPremiumQuizServlet</servlet-name>
    <servlet-class>PremiumQuiz.ProcessPremiumQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPremiumQuizServlet</servlet-name>
    <url-pattern>/ProcessPremiumQuizServlet</url-pattern>
    <url-pattern>/ProcessPremiumQuiz</url-pattern>
  </servlet-mapping>
</web-app>